.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  height: 530px;
  width: 100%;
  color:#4056A1;
  background-color: #cbf8e25d;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

/* .profile-hex {

} */
.profile-name {
  display: flex;
}
.profile-last-name {
  font-style: italic;
} 