.header {
  /* display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 50px;
  background:transparent; */
}

.profile-hex {
  /* padding-top: 20px; */
}

.profile-name {
  /* display: flex;
  flex-direction:row; */
}