.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  height: 120px;
  width: 100%;
  background-color:#4056A1;
  margin-bottom: 10%;
}

.sticky {
  position: fixed;
  top: 0;
}

.title {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 170%;
  cursor:default;
}

.nav-bar-btn {
  display: flex;
  font-family: 'Bungee', cursive;
  color:#4056A1;
  background-color: white;
  border: none;
  border-radius: 1px;
}

.nav-bar-btn:hover {
  transform: scale(1.1);
}