@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.new-tweet {
  display: flex;
  flex-direction: row;
  width: inherit 80%;
  margin: 0;
  padding: 20px 1200px;
  justify-content: center;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;

}

.new-tweet-div {
  display: flex;
  flex-direction: row;
}
.new-tweet-btn {
  display: flex;
  justify-self:left;
  font-family: 'Bungee Shade', cursive;
  height:fit-content;
  margin-left: 20px;
  padding: 9px 25px;
  background-color:bisque;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease 0s;
}

.new-tweet-btn:hover {
  background-color: azure;
}

#tweet-text {
  display: flex;
  align-self: center;
  height: 200px;
  width:600px;
  border: 1px solid black;
  color: black;
}

.counter {
  display: flex;
  align-self:flex-end;
  color: black; 
  font-family: 'Bungee Shade', cursive;
}

.counter-negative {
  color: red;
}