.new-tweet {
  width: 90%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.new-tweet-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet-btn {
  display: flex;
  font-family: 'Bungee', cursive;
  color:white;
  background-color: #4056A1;
  border: none;
  margin-left: 2.75px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.new-tweet-btn:hover {
  transform: scale(1.02);
}

#tweet-text {
  display: flex;
  align-self: center;
  height: 50px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  color: black;
}

.counter {
  display: flex;
  align-self:flex-end;
  color: black; 
  font-family: 'Bungee', cursive;
}

.counter-negative {
  color: red;
} 