.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: transparent;
}

.tweet-article:hover {
  box-shadow: 20px 20px 30px -10px cadetblue;
}

.tweet-article:hover .user-handle {
  color: cadetblue;
  visibility: visible;
}

.tweet-article {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.tweet-container-header {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.user-pic-name {
  display: flex;
}

.user-pic {
  display: flex;
  padding-right: 5px;
}

.user-handle {
  display: flex;
  justify-self: flex-end;
  background: transparent;
  visibility: hidden;
}

.tweet-container-footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding: 2px;
}

.icons {
  padding: 10px;
}
